/JavaApplication3/nbproject/private/
/EjemploHerencia/nbproject/private/
/Leccion05/CreacionClasesObjetos/nbproject/private/
/Leccion06/Aritmetica/nbproject/private/
/Leccion06/Aritmetica/build/
/Leccion2/ManejoVariables/nbproject/private/
/Leccion2/ManejoVariables/build/
/Leccion2/ManejoCadenasBasico/nbproject/private/
/Leccion2/ManejoCadenasBasico/build/
/Leccion2/ManejoOperadores/nbproject/private/
/Leccion2/ManejoOperadores/build/
/Leccion02/ManejoCadenasBasico/build/
/Leccion02/ManejoCadenasBasico/nbproject/private/
/Leccion02/ManejoOperadores/build/
/Leccion02/ManejoOperadores/nbproject/private/
/Leccion02/ManejoVariables/build/
/Leccion02/ManejoVariables/nbproject/private/